<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆日志信息管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="/css/public.css" media="all"/>
    <style>
        .layui-form-label {
            font-size: 16px;
        }
    </style>
</head>
<body class="childrenBody">
<form class="layui-form">
    <!-- 查询条件开始 -->
    <blockquote class="layui-elem-quote quoteBox">
        <form class="layui-form">
            <div class="layui-inline">
                <!--                <div class="layui-input-inline">-->
                <!--                    <div class="layui-input-block" style="width: 150px;margin-left:0px; min-height: 0px;">-->
                <!--                        <select name="fstoreType" class="" id="monCostFstoreType">-->
                <!--                            <option value="1">Alienware专卖店</option>-->
                <!--                            <option value="2">体验中心-成就店</option>-->
                <!--                            <option value="3">体验中心-家用店</option>-->
                <!--                        </select>-->
                <!--                    </div>-->
                <!--                </div>-->
                <div class="layui-inline">
                    <label class="layui-form-label">登陆名称：</label>
                    <input type="text" class="layui-input" id="loginname" name="loginname" style="width:140px"
                           placeholder="登陆名称"/>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">登陆IP：</label>
                    <input type="text" class="layui-input" id="loginip" name="loginip" style="width:140px"
                           placeholder="登陆IP"/>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">开始时间：</label>
                    <input type="text" class="layui-input" id="startTime" name="startTime" style="width:140px"
                           placeholder="开始时间" readonly="readonly"/>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">结束时间：</label>
                    <input type="text" class="layui-input" id="endTime" name="endTime" style="width:140px"
                           placeholder="结束时间" readonly="readonly"/>
                </div>

                <button type="button" class="layui-btn" lay-submit="" lay-filter="doSearch" style="margin-left: 5px;">
                    <span class="layui-icon layui-icon-search"></span>搜索
                </button>
                <button type="reset" class="layui-btn layui-btn-warm">
                    <span class="layui-icon layui-icon-refresh-1">重置</span>
                </button>
                <button class="layui-btn layui-btn-normal" id="logInfoExport">
                    <span class="layui-icon layui-icon-export">导出日志信息（按搜索结果）</span>
                </button>
            </div>
        </form>
    </blockquote>
    <!-- 查询条件结束 -->


    <!-- 数据表格开始 -->
    <div>
        <table class="layui-hide" id="loginfoTable" lay-filter="loginfoTable"></table>
    </div>
    <!-- 数据表格结束 -->

    <script src="/layui/layui.js"></script>

    <script>
        layui.use(['jquery', 'table', 'laydate', 'layer', 'form'], function () {
            var $ = layui.jquery;
            var form = layui.form;
            var table = layui.table;
            var layer = layui.layer;
            var laydate = layui.laydate;
            var index = layui.layer.msg('查询中，请稍候...', {icon: 16, time: false, shade: 0.6, shadeClose: false});
            // 初始化日期组件
            laydate.render({
                elem: "#startTime",
                type: "datetime"
            })
            laydate.render({
                elem: "#endTime",
                type: "datetime"
            })

            // 初始化数据表格
            var tableIns = table.render({
                elem: '#loginfoTable'
                , height: "full-120"
                , toolbar: '#loginfoToolBar' //开启头部工具栏，并为其绑定左侧模板
                , url: '/log/list' //数据接口
                , title: '登陆信息表'
                , page: true //开启分页
                , limit: 20
                , done: function (res, currPage, count) {//数据渲染完的回调
                    layui.layer.close(index);
                    console.log(res);

                    //得到当前页码
                    console.log(currPage);

                    //得到数据总量
                    console.log(count);
                    if (res.data.length == 0 && currPage != 0) {
                        // 执行重载函数
                        // 页码
                        // curr - 1
                        tableIns.reload({
                            page: {
                                curr: currPage - 1
                            }
                        })
                    }
                }
                , cols: [ [ //表头
                    {type: 'checkbox', fixed: 'left'}
                    , {field: 'id', title: 'ID', width: 80, sort: true, fixed: 'left',}
                    , {field: 'loginname', title: '登陆名称', align: 'center'}
                    , {field: 'loginip', title: '登陆IP', align: 'center'}
                    , {field: 'logintime', title: '登陆时间', sort: true, align: 'center'}
                    , {fixed: 'right', title: '操作', align: 'center', toolbar: '#logInfoRightBar'} //右部工具栏，并为其绑定右侧模板
                ] ]
            })
            // 模糊查询条件
            form.on("submit(doSearch)", function (data) {
                index = layui.layer.msg('查询中，请稍候...', {icon: 16, time: false, shade: 0.6, shadeClose: false});
                tableIns.reload({
                    where: data.field,
                    page: {
                        curr: 1
                    }
                });
                return false;
            });

            // 监听行删除事件
            table.on('tool(loginfoTable)', function (obj) {
                var layEvent = obj.event, data = obj.data;
                var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）
                if (layEvent === 'logInfoDel') {
                    var arr = [];
                    var object = {"id": data.id};
                    arr.push(object);
                    deleteBatch(arr);
                }
            });
            // 监听头批量删除事件
            table.on('toolbar(loginfoTable)', function (obj) {
                var checkStatus = table.checkStatus(obj.config.id);
                var layEvent = obj.event, data = obj.data;
                if (layEvent === 'logInfoDelBatch') {
                    var checkId = [];
                    var chechData = checkStatus.data;
                    if (chechData.length > 0) {
                        for (var i = 0; i < chechData.length; i++) {
                            var idObj = {"id": chechData[i].id};
                            checkId.push(idObj);
                        }
                    }
                    deleteBatch(checkId);
                }
            })

            // 删除/批量删除方法
            function deleteBatch(idArray) {
                if (idArray.length == 0) {
                    layer.msg('请选择要删除的数据！', {icon: 2});
                    return false;
                }
                //encodeURIComponent()
                layer.confirm('是否确认删除？', {
                    icon: 3, title: '提示信息', btn: ['确认', '取消'], btn1: function () {
                        var data = JSON.stringify(idArray);
                        $.ajax({
                            type: 'post',
                            url: '/log/deleteBatch',
                            contentType: "application/json",
                            data: data,
                            dataType: "json",
                            success: function (result) {
                                if (result.code != 0) {
                                    resultLayerMsg(result)
                                    return false;
                                } else {
                                    layer.msg('已删除！', {icon: 1});
                                    //不刷新页面 留在当前
                                    tableIns.reload();
                                }
                            }
                        });
                    }
                })
            }
        })
    </script>
    <!--数据表格上部操作开始-->
    <script type="text/html" id="loginfoToolBar">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="logInfoDelBatch"><span
                    class="layui-icon layui-icon-delete">批量删除</span></button>
            <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
            <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>
        </div>
    </script>
    <!--数据表格上部操作结束-->

    <!--数据表格右部操作-->
    <script type="text/html" id="logInfoRightBar">
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="logInfoDetail">查看</a>
        <a class="layui-btn layui-btn-xs" lay-event="logInfoEdit">编辑</a>
        <a class="layui-btn layui-btn-xs" lay-event="logInfoDel">删除</a>
    </script>
</form>

</body>
</html>